<!-- to do -->
<!-- - fix winner-text header so it displays winner -->
<!-- - fix row counting for winning -->
<!-- - seperate JS file -->
<!-- - make it responsive -->
<!-- - add testing -->
<!-- - add favicon -->
<!-- - disable buttons during play (1 player or 2 player) -->
<!-- - disable the board after winning -->
<!-- -  make font on inital page larger -->
<!-- - fix number of squares when n is large -->
<!-- - move the buttons -->
<!-- - why is computer moving after won/tie -->

<!DOCTYPE = html>
<html>
<head>
    <title>Tic-Tac-Toe PLUS</title>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- underscore -->
    <script src="/static/js/underscore.js"></script>

    <!-- animated CSS -->
    <link rel="stylesheet" href="/static/css/animated.css">
    
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <style>
        body{
            background-image: url(/static/img/tic-tac-toe-background.jpg);
            background-repeat:none;
            background-attachment:scroll;
            background-position:center;
            -webkit-background-size:cover;
            -moz-background-size:cover;
            background-size:cover;
            -o-background-size:cover;
            font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

        }

        #header-div h1{
            font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight:700;
            font-size:60px;
            line-height:75px;
            margin-bottom:50px
            word-wrap: break-word;
            text-align: center;
        }

        hr{
            border-radius: 4px;
            border: 4px solid orange;
        }

        input{
            border-radius: 4px;
        }
        #tic-tac-toe{
            color: orange;
            font-weight: bold;
        }
        #num{
            width: 70px;
        }
        #players{
            text-align: center;
        }

    </style>


</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class='col-md-8 col-md-offset-2 col-xs-12' id='header-div'>
                <h1>Welcome to <br>Tic-Tac-Toe<br>PLUS!</h1>
                <hr></hr>
                <button type="button" id="begin" class="btn btn-primary btn-lg">Begin</button>
            </div> <!-- close column -->
        </div> <!-- close row -->
        <div class="row">
            <div class='col-md-6 col-md-offset-3 col-xs-12' id="page-div">
                <p class="game" hidden>Tic-Tac-Toe is an nxn game where n is 3.<br>This is <span id='tic-tac-toe'>Tic-Tac-Toe PLUS</span>, so you get to pick 'n'.<br>Also, you get to choose if you are playing the computer or another person -- and can switch mid-game!</p>
                <form id="n-form" class="game" hidden>
                    <label class="game" hidden>n is:</label>
                    <input id='num' type="number" placeholder="#" id="n" name="n" min="0">
                    <input value="Play!" type="submit">
                </form>
                <div id="players" class="game" hidden>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary active" id='one-player-label'>
                        <input type="radio" name="options" id="one-player" autocomplete="off" value="computer" checked>One Player</label>
                      <label class="btn btn-primary">
                        <input type="radio" name="options" id="two-players" autocomplete="off" value="friends">Two Players</label>
                    </div> <!-- close toggles -->

                    <!-- <button class="btn btn-default" id='1-player' data-toggle="tooltip" data-placement="bottom" title="Can you beat a computer?">One Player</button>
                    <button class="btn btn-default" id='2-players' data-toggle="tooltip" data-placement="bottom" title="Can you beat a friend?">Two Players</button> -->
                    <button class="btn btn-default" id='reset'>Reset Current Board</button>
                </div> <!-- close players -->
                <div id="board">
                </div> <!-- close board -->
            </div> <!-- close column -->
        </div> <!-- close row -->

        <!-- Winning Modal -->
        <div class="modal fade" id="myModalWinning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id='winner-title'></h4>
                </div>
              <div class="modal-body">
                <img class='img-responsive' src='/static/img/winning.jpg'>
              </div> <!-- close modal body -->
            </div> <!-- close modal content -->
          </div> <!-- close modal dialog -->
        </div> <!-- close myModal -->

        <!-- Cats Game Modal -->
        <div class="modal fade" id="myModalCats" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class='img-responsive' src='/static/img/grumpy-cat.jpg'>
              </div> <!-- close modal body -->
            </div> <!-- close modal content -->
          </div> <!-- close modal dialog -->
        </div> <!-- close myModal -->

    </div> <!-- close container -->

    <script type="text/javascript">
    $(function(){

        var computer;

        // set the beginning text alignment
        var windowHeight = $(window).height();
        var headerDivHeight = $("#header-div").height();
        $("#header-div").css("margin-top", (windowHeight-headerDivHeight)/2);


        function showForm(evt){
            // change header text
            $("h1").prop('class',"fadeInUpBig").removeAttr("margin-top").html("Tic-Tac-Toe PLUS!");
            
            // hide begin button
            $("#begin").hide();
            
            // show form
            $(".game").removeAttr("hidden");



        }

        // create board based on form input
        function createBoard(evt){


            // empty board
            $("#board").empty()
            evt.preventDefault();
            n = parseInt($("input").val());

            // figure out dimenions based on window size
            var btnDimension = ($("#page-div").width() - n*2*3)/n;

            // loop through (2x) to create rows and columns of board as buttons
            for (var i=0; i<n; i++){
                for(var j=0; j<n; j++){
                    $("#board").append("<button style='height:"+btnDimension+";width:"+btnDimension+";padding:0;margin:0;border=3px' class='btn btn-default board-btn' data-row='"+i+"' data-column='"+j+"'}></button>");
                }
            }

            //scroll to board
            $('#board')[0].scrollIntoView();
        }

        function resetBoard(evt){
            evt.preventDefault();

            n = parseInt($("input").val());

            // iterate through tiles on board and empty/enable them
            for (var m=0; m<(n*n); m++){
                $("#board")[0].children[m].disabled=false;
                $("#board")[0].children[m].innerHTML="";
            }

        }

        var move = "X";
        function addMove(evt){
            var players = $('input[name=options]:checked').val();
            // // find column and row of clicked on button
            // var column = evt.target.dataset.column;
            // var row = evt.target.dataset.row;

            // set button to current move ("X" or "O")
            evt.target.innerHTML = move;

            // disable button just clicked on
            evt.target.disabled = true;
            
            // check to see if there is a winner/tie based on latest move
            checkBoard(move);

            togglePlayer();
            
            if (players==="computer"){
                addComputerMove(move);
            }
        }
        
        function addComputerMove(move){
            n = parseInt($("input").val());
            
            var open = [];

            for (var counter =0; counter<(n*n-1); counter++){
                if (($("#board")[0].children[counter].innerHTML)===""){
                    open.push(counter);
                }
            }
            console.log("open is"+open);

            var index = _.sample(open, 1);
            console.log("index is"+index);
            $("#board")[0].children[index].innerHTML = move;
            $("#board")[0].children[index].disabled = true;

            togglePlayer();

            checkBoard(move);
        }

        function togglePlayer(){
         // toggle between X and O as current player 
            if (move === "X"){
                move = "O";
            }else{
                move = "X";
            }
        }

        function checkBoard(move){

            n = parseInt($("input").val());

            var winner;

            // check for columns and a complete board
            var count1;
            var countBoard = 0;
            // double for loop iterates first through the top of the column....
            for (var a=0; a<n; a+=1){
                count1 = 0;
                // ... then iterates through the next item in the column (+=n)
                for (var k=a; k<(n*n); k+=n){
                    if (($("#board")[0].children[k].innerHTML)===move){
                        count1 += 1;
                    }else if(($("#board")[0].children[k].innerHTML)!==move && ($("#board")[0].children[k].innerHTML)!==""){
                        countBoard += 1;
                    }
                }
                if (count1===n){
                    winner = true;
                }
                if(countBoard === (n*n)){
                    winner = false;
                }
            }

            // check for rows
            var count2;
            // double for loops iterates first through the first item in each row ...
            // for (var b=0; b<n; b+=n){
            //     count2 = 0;
            //     // ... then iterates through the next item in the row (+=1)
            //     for (var l=b; l<(n*n); l+=1){
            //         if (($("#board")[0].children[l].innerHTML)===move){
            //             count2 += 1;
            //         }
            //         if (count2===n){
            //             winner = true;
            //         }
            //     }
            // }

            // check for Top L - Bottom R diagonal
            var count3 = 0;
            // single for loop iterates across the board
            for (var c=0; c<(n*n); c+=(n+1)){
                if (($("#board")[0].children[c].innerHTML)===move){
                    count3 += 1;
                }
                if (count3===n){
                    winner = true;
                }
            }

            // check for Top R - Bottom L diagonal
            var count4 = 0;
            // single for loop iterates across the board
            for (var d=n-1; d<=(n*n-n); d+=(n-1)){
                if (($("#board")[0].children[d].innerHTML)===move){
                    count4 += 1;
                }
                if (count4===n){
                    winner = true;
                }
            }

            if (winner === true){
                // $("#winner-title").innerTEXT("Congrats to Player "+move+"!");
                $('#myModalWinning').modal('show');

                // disable the board
                // for (var p=0; p<(n*n-1); p++){
                //     $("#board")[0].children[p].disabled=true;
                // }
            }
            else if (winner === false){
                $('#myModalCats').modal('show');
            }
        }

        // event listener for form submission -- n
        $("#n-form").on("submit", createBoard);

        // event listener for move click
        $("#board").on("click .board-btn", addMove);

        // event listener for reset board
        $("#reset").on("click", resetBoard);

        // event listener for 1 player (vs computer)
        $("#1-player").on("click", function(){computer = true; $("#2-players").prop("disabled", true);})

        // event listener for 2 players (vs a friend)
        $("#2-players").on("click", function(){computer = false; $("#1-player").prop("disabled", true);})

        // event listener for clicking begin button
        $("#begin").on("click", showForm);

    });
    </script>
</body>
</html>