<!-- to do -->
<!-- - make it responsive -->
<!-- - deploy -->
<!-- - create a readme -->

<!DOCTYPE = html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tic-Tac-Toe PLUS</title>

    <!-- favicon -->
    <link rel="icon" type="image/png"  href="/static/img/favicon.ico">

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- underscore -->
    <script src="/static/js/underscore.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- customized CSS -->
    <link rel='stylesheet' href='/static/css/tic-tac-toe.css'>

</head>
<body>
    <div class="container-fluid">
        <div id='background-div'>
            <div class="row" id='row1'>
                <div class='col-md-8 col-md-offset-2 col-xs-12' id='header-div'>
                    <h1>Welcome to <br>Tic-Tac-Toe<br><span id='tic-tac-toe'>PLUS!</span></h1>
                    <hr></hr>
                    <button type="button" id="begin" class="btn btn-primary btn-lg">Begin</button>
                </div> <!-- close column -->
            </div> <!-- close row -->
            <div class="row game" id='row2' hidden>
                <div class='col-md-3 col-xs-0 shout-div' >
                    <div id='left-shout' class='shout' hidden>
                    </div> <!-- close left shout -->
                </div> <!-- close column -->
                <div class='col-md-6 col-xs-12' id="page-div">
                    <p class="game" hidden>Tic-Tac-Toe is game played on an 'n'x'n' board where 'n' is traditionally 3.<br>This is <span id='tic-tac-toe'>Tic-Tac-Toe PLUS</span>, so you get to pick 'n'.<br><br>Also, you get to choose if you are playing the computer or another person --<br>and can switch mid-game!</p>
                    <div id='arrow-form-div'>
                        <!-- <div id='arrow1-div' class='arrow-div'> -->
                            <!-- <img id='arrow1' class="img-responsive arrow" src='/static/img/arrow.png'> -->
                        <!-- </div> close arrow1 -->
            
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active" id='one-player-label'>
                                <input type="radio" name="options" id="one-player" autocomplete="off" value="computer" checked>One Player</label>
                            <label class="btn btn-primary">
                                 <input type="radio" name="options" id="two-players" autocomplete="off" value="friends">Two Players</label>
                        </div> <!-- close toggles -->
                        <!-- <div id='placeholder'> -->
                        <!-- </div> close placeholder -->
                    </div> <!-- close arrow form -->
                    <div id="players" class="game" hidden>
                        <!-- <div id='arrow2-div' class='arrow-div'> -->
                            <!-- <img id='arrow2' class="img-responsive arrow" src='/static/img/arrow.png'> -->
                        <!-- </div> close arrow2 -->
                        <div id='form'>
                            <form id="n-form" class="game" hidden>
                                <label class="game" hidden><span id='tic-tac-toe'>n is:</span></label>
                                <input id='num' type="number" placeholder="#" id="n" name="n" min="2">
                                <input class='btn-primary btn btn-default' value="Play!" id='submit' type="submit">
                            </form>
                        </div>
                        <button class="btn btn-default" id='reset'>Reset Current Board</button>
                    </div> <!-- close players -->
                    <div id="board">
                    </div> <!-- close board -->
                </div> <!-- close column -->
                <div class='col-md-3 col-xs-0 shout-div'>
                    <div id='right-shout' class='shout' hidden>
                    </div> <!-- close left shout -->
                </div> <!-- close column -->
            </div> <!-- close row -->
        </div> <!-- close background -->

        <!-- Winning Modal -->
        <div class="modal fade" id="myModalWinning" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id='winner-title'></h4>
                </div>
              <div class="modal-body">
                <img class='img-responsive' src='/static/img/winning.jpg'>
              </div> <!-- close modal body -->
            </div> <!-- close modal content -->
          </div> <!-- close modal dialog -->
        </div> <!-- close myModal -->

        <!-- Cats Game Modal -->
        <div class="modal fade" id="myModalCats" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img class='img-responsive' id='cat' src='/static/img/grumpy-cat.jpg'>
              </div> <!-- close modal body -->
            </div> <!-- close modal content -->
          </div> <!-- close modal dialog -->
        </div> <!-- close myModal -->

    </div> <!-- close container -->

    <!-- Javascript for document -->
    <script src="/static/js/tic-tac-toe.js"></script>

</body>
</html>